# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual env folders (if anyone creates one)
.venv/
venv/

# OS/editor noise
.DS_Store
Thumbs.db

# Build/distribution
build/
dist/
*.egg-info/

# Outputs and large artifacts
outputs/models/*
outputs/submissions/*
outputs/figures/*
outputs/tables/*

# Keep folder structure in git
!outputs/models/.gitkeep
!outputs/submissions/.gitkeep
!outputs/figures/.gitkeep
!outputs/tables/.gitkeep

# Optional report build artifacts
reports/*.aux
reports/*.log
reports/*.out
reports/*.toc
